<h2>Wellcome to PizzaShop</h2>

<div class="row">


    <% @products.each do |p| %>
    <div class="col-md-3">
      <%= p.title %>
    </div>

<% end %>

<button class="btn btn-primary" onclick="something()" >Click me</button>

